HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=ai-hr-bot
DATABASE_USERNAME=ai-hr-bot
DATABASE_PASSWORD=ai-hr-bot
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=nj1vTDyKmNxEREy9AXX2+A==

AVITO_CLIENT_SECRET=tobemodified
AVITO_CLIENT_ID=tobemodified
DEEPSEEK_API_KEY=tobemodified

DEEPSEEK_MODEL=deepseek-chat  # по умолчанию deepseek-chat
WEBHOOK_URL=https://ai-hr-bot.ru.tuna.am/api/webhook/avito  # для автоматической регистрации webhook